@for(item of items; track item){
    <div class="item">  
            <img [src]="item.imageSrc" class="itemImg">
            <p>{{item.description}}</p>
    </div>
}


<div class="addButton" (click)="toggleModal()">
    <img class="addIcon" src="../../../../assets/add.png">
</div>

<!-- Modal content -->
<div *ngIf="isModalOpen" class="modal">
    <!-- Close button (X) -->
    <button class="closeButton" (click)="closeModal()">X</button>
  
    <form (ngSubmit)="addItem()" #itemForm="ngForm">
      <div>
        <label for="description">Description:</label>
        <input type="text" id="description" [(ngModel)]="newItem.description" name="description" required />
      </div>
  
      <div>
        <label for="image">Upload Image:</label>
        <input type="file" id="image" (change)="onImageUpload($event)" />
        <img *ngIf="newItem.imageSrc" [src]="newItem.imageSrc" alt="Preview" width="50" height="50" />
      </div>
  
      <div>
        <label for="routerLink">Choose a link:</label>
        <select id="routerLink" [(ngModel)]="newItem.routerLink" name="routerLink" required>
          <option value="link1">Link 1</option>
          <option value="link2">Link 2</option>
          <option value="link3">Link 3</option>
        </select>
      </div>
  
      <button type="submit" [disabled]="!itemForm.form.valid">Add Item</button>
    </form>
  </div>