:host{
  position: absolute;
  width: 150px;
  height: 150px;
}
.image-container {
    position: absolute;
    cursor: pointer;
    width: 150px;
    height: 150px;
    border: dotted 2px grey;
  }

  .image-placeholder {
    width: 100%;
    height: 100%;
    object-fit:contain
  }