:host { 
  display: block;
  background-color: #e0fcff;
  position: relative;
  width: 900px;        
  height: 200px;
  left: 30px;
  top: 40px
}

.save-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #218838;
}
