
<!-- <div class="row" style="margin-bottom:15px;">
      <div class="resizable resizable-container">
        <div class="image-container">
      <img [src]="imageSrc" alt="Upload placeholder" class="img" />
</div> -->


<div class="resizable resizable-container">
  <div *ngIf="isVideo" class="video-container">
    <video [src]="imageSrc" controls class="video"></video>
  </div>
  <div *ngIf="!isVideo" class="image-container">
    <img [src]="imageSrc" alt="Upload placeholder" class="img" />
  </div>
</div>