<div class="dynamic-item" cdkDrag cdkDragBoundary=".workspace" Resizable>
  <div class="drag-handle" cdkDragHandle>
  </div>
    <div class="weather-info">
      <h3>Weather Information</h3>
      <p><strong>Location:</strong> New York City</p>
      <p><strong>Temperature:</strong> 25°C</p>
      <p><strong>Condition:</strong> Sunny</p>
      <p><strong>Humidity:</strong> 60%</p>
    </div>
    <div
    class="resize-handle top"
  ></div>
  <div
    class="resize-handle right"
  ></div>
  <div
    class="resize-handle bottom"
  ></div>
  <div
    class="resize-handle left"
  ></div>
  </div>
  