.dynamic-item {
    width: 230px;
    height: 250px;
    position: absolute;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .weather-info h3 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #333;
  }
  
  .weather-info p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
  }
    
  .resize-handle {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 10;
    opacity: 0%;
  }
  
  .resize-handle.top {
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    cursor: n-resize;
  }
  
  .resize-handle.right {
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    cursor: e-resize;
  }
  
  .resize-handle.bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    cursor: s-resize;
  }
  
  .resize-handle.left {
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    cursor: w-resize;
  }
  
  .drag-handle {
    background: #55ff00;
    color: white;
    cursor: grab;
    opacity: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  