:host {
    display: block;
    height: 100vh; 
    width: 100vw;
    font-family: Poppins;
  }

  .save-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .save-button:hover {
    background-color: #218838;
  }
  