:host { 
  position: absolute;
  width: 250px;
  height: 100px;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.draggingArea{
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 8px;
  right: 8px;
  background-color: rgb(252, 235, 214);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: poppins;
  font-size: 15px;
}
