
<div class="dynamic-item" cdkDrag cdkDragBoundary=".workspace" Resizable>
  <div class="drag-handle" cdkDragHandle>
  </div>
    <div class="flight-info">
      <h3>Flight Details</h3>
      <input type="text" name="text" id="text">
      <p><strong>Airline:</strong> SkyHigh Airlines</p>
      <p><strong>Flight Number:</strong> SH202</p>
      <p><strong>Departure:</strong> New York (JFK)</p>
      <p><strong>Destination:</strong> London (LHR)</p>
      <p><strong>Status:</strong> On Time</p>
    </div>
    <div
    class="resize-handle top"
  ></div>
  <div
    class="resize-handle right"
  ></div>
  <div
    class="resize-handle bottom"
  ></div>
  <div
    class="resize-handle left"
  ></div>
  </div>

