
body {
  margin: 0;
  padding: 0;
}


  @font-face {
    font-family: "Poppins";
    src: url('/assets/font/Poppins-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: "PoppinsB";
    src: url('/assets/font/Poppins-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: "PoppinsL";
    src: url('assets/font/Poppins-Light.ttf') format('truetype');
  }

  @font-face {
    font-family: "PoppinsEL";
    src: url('assets/font/Poppins-ExtraLight.ttf') format('truetype');
  }

  @font-face {
    font-family: "Signature";
    src: url('assets/font/Thesignature.ttf') format('truetype');
  }

  @font-face {
    font-family: "Playwrite";
    src: url('assets/font/PlaywriteVN.ttf') format('truetype');
  }
