/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Arial';
  src: local('Arial'), url('/path-to-font/arial.woff') format('woff');
}

@font-face {
  font-family: 'Verdana';
  src: local('Verdana'), url('/path-to-font/verdana.woff') format('woff');
}

@font-face {
  font-family: 'Times New Roman';
  src: local('Times New Roman'), url('/path-to-font/times-new-roman.woff') format('woff');
}

@font-face {
  font-family: 'Courier';
  src: local('Courier'), url('/path-to-font/courier.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap') format('woff');
}

