<div class="designer-container">

  <!-- <button class="designer-button" (click)="addWeatherComponent"> -->
  <button class="designer-button" (click)="createComponent('weather')">
    <span class="icon">⛅</span>
    <span class="name">Weather</span>
  </button>

  <!-- <button class="designer-button" (click)="addFlightsComponent"> -->
  <button class="designer-button" (click)="createComponent('flights')">
    <span class="icon">✈️</span>
    <span class="name">Flights</span>
  </button>

  <!-- <button class="designer-button" (click)="addResturantComponent"> -->
  <button class="designer-button" (click)="createComponent('resturant')">
    <span class="icon">🍽️</span>
    <span class="name">Resturant</span>
  </button>

  <!-- <button class="designer-button" (click)="addChannelComponent"> -->
  <button class="designer-button" (click)="createComponent('channels')">
    <span class="icon">📺</span>
    <span class="name">Channels</span>
  </button>


</div>
