<div class="designer-container">
  <!-- <button class="designer-button" (click)="addFlightsComponent"> -->
    <button class="designer-button" (click)="createComponent('CustomEditor')">
      <span class="icon">¶</span>
      <span class="name">CustomEditor</span>
    </button>
  <!-- <button class="designer-button" (click)="addWeatherComponent"> -->
  <button class="designer-button" (click)="createComponent('weather')">
    <span class="icon">⛅</span>
    <span class="name">Weather</span>
  </button>

  <!-- <button class="designer-button" (click)="addFlightsComponent"> -->
  <button class="designer-button" (click)="createComponent('flights')">
    <span class="icon">✈️</span>
    <span class="name">Flights</span>
  </button>
  <!-- <button class="designer-button" (click)="addFlightsComponent"> -->
    <button class="designer-button" (click)="createComponent('text')">
      <span class="icon">¶</span>
      <span class="name">Text</span>
    </button>
  
</div>
