<div class="designer-container">
  
  <button class="designer-button" (click)="createComponent('item')">
    <span class="icon"><img src="../../../assets/item.png" style="width: 35px; height: 35px"></span>
    <span class="name">Item</span>
  </button>

  <button class="designer-button" (click)="createComponent('area')">
    <span class="icon"><img src="../../../assets/area.png" style="width: 35px; height: 35px"></span>
    <span class="name">Area</span>
  </button>
  
</div>


<!-- <button class="designer-button" (click)="createComponent('CustomEditor')">
  <span class="icon"><img src="../../../assets/text.png" style="width: 35px; height: 35px"></span>
  <span class="name">Text</span>
</button>

<button class="designer-button" (click)="createComponent('img')">
  <span class="icon"><img src="../../../assets/image.png" style="width: 35px; height: 35px"></span>
  <span class="name">Img</span>
</button>
    <button class="designer-button" (click)="createComponent('weather')">
      <span class="icon"><img src="../../../assets/weather.png" style="width: 35px; height: 35px"></span>
      <span class="name">Weather</span>
    </button>

    <button class="designer-button" (click)="createComponent('flights')">
      <span class="icon"><img src="../../../assets/flights.png" style="width: 35px; height: 35px"></span>
      <span class="name">Flights</span>
    </button> -->

  